.cards-container {
    width: 97vw;
    margin-top: 35px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.paginado-container {
    margin-top: 30px;
    height: 40px;
    padding-top: 0;
}