.page-link {
    width: 35px;
    height: 24px;
    color: #000000;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    background-color: #37ff00;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: #37ff00 2px solid;
    font-size: 18px;
    margin: 2px;
}

.page-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.pagination-container {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}