.form-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container form input{
    width: 15rem;
}

.create-button{
    margin: 2rem;
    background-color: orange;
    color: white;
}

.form-container form label{
    color: white;
    padding-top: 30px;
    padding-bottom: 10px;
}