.create-page {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.navbar-container {
    grid-area: 1 / 1 / 2 / 7;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    border-bottom: #37ff00 solid 2px;
    padding-bottom: 20px;

}

.form-container{
    grid-area: 2 / 1 / 13 / 5;

    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 0;
    height: 800px;
}

.form-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-button{
    margin: 2rem;
    background-color: orange;
    color: white;
}

.form-container form label{
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-error{
    color: red;
    display: flex;
    justify-content: center;
    align-items: start;
    align-content: center;
    font-size: 15px;
    padding: 0;
    margin-top: 2px;
    margin-bottom: 2px;
}

.go-home {
    text-decoration: none;
}

.form-title {
    color: white;
}

.form-input {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 10px;
    border: 2px solid #37ff00;
    padding: 10px 0;
    background-color: black;
    margin-right: 0;
    border-radius: 50px;
    font-size: 16px;
    outline: none;
    text-align: center;
    color: white;
    font-size: 14px;
}

.form-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-label {
    color: white;
    font-size: 10px;
    margin-bottom: 10px;
}

.create-form-select {
    width: 400px;
    margin-right: 10px;
    font-size: 14px;
    outline: none;
    text-align: center;
    color: white;
    background-color: #000000;
    border: #37ff00 2px solid;
    border-radius: 50px;
    height: 30px;
}

.create-form {
    width: 500px;
    color: #37ff00;
    margin-bottom: 5px;
    display: flex;
    text-align: center;
    align-items: flex-start;
    justify-content: center;
}

.genres-li {
    width: 500px;
    color: white;
    list-style-type: none;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    margin-left: -50px;
    margin-bottom: 15px;
}

.form-input-description {
    display: flex;
    width: 400px;
    height: 100px;
    border: 2px solid #37ff00;
    padding: 10px 0;
    background-color: black;
    margin-right: 0;
    border-radius: 50px;
    font-size: 16px;
    outline: none;
    text-align: center;
    color: white;
    font-size: 14px;
}

.create-button {
    width: 100px;
    height: 30px;
    color: #000000;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    background-color: #37ff00;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: #37ff00 2px solid;
    margin-left: 0;
}

.create-button:disabled {
    cursor: not-allowed;
    background-color: grey;
    color: white;
}

.genres-display {
    grid-area: 3 / 5 / 8 / 7;
    border-bottom: #37ff00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.platforms-display {
    grid-area: 8 / 5 / 13 / 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.select-label {
    margin-top: 10px;
    padding-top: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.selection-label {
    color: #37ff00;
    border-bottom: #37ff00 2px solid;
}

.selection-container {
    width: 100%;
    display: inline;
    align-items: start;
}

.selection-display {
    color: white;
    font-size: 13px;
    width: 50%;
}

.selection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-button {
    width: 20px;
    height: 20px;
    color: #000000;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    background-color: #37ff00;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: #37ff00 2px solid;
    margin-left: 0;
}

.home-link {
    text-decoration: none;
}